*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical centering */
    align-items: center; 
    height: 100%;
}

.status-header{
    display: flex;
    background-color: pink;
    width: 100%;
    height: 150px;
}

.gameplay{
    display: flex;
    background-color: yellow;
    width: 100%;
}