*{
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical centering */
    align-items: center; 
    height: 100%;
}

.status-header{
    display: flex;
    background-color: pink;
    width: 100%;
    height: 150px;
}

.gameplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: yellow;
    width: 100%;
    height: 100%;
    position: relative;
}

.instructions{
    position: fixed; /* Position relative to the viewport */
    width: 80%;
    height: 60%;
    z-index: 9999; /* Ensure it's on top of everything */
    display: flex; /* Center content */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: white;
}

#your-choice-text{
    display: none;
}

#baking-text{
    display: none;
}

.YouWin{
    display: none;
}

.YouLose{
    display:none;
}

.location-choice{
    display: none;
}

.baked-goods-choice{
    display: none;
}
