*{
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #fff8f2, #ffe4e1);
  
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical centering */
    align-items: center; 
    height: 100%;
}

.status-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffb6c1;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #4a2c2a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 150px;
}

.gameplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #fffaf5;
    padding: 30px;
    width: 100%;
    height: 100%;
    position: relative;
}

.instructions{
    position: fixed; /* Position relative to the viewport */
    width: 60%;
    height: 60%;
    max-width: 600px;
    z-index: 9999; /* Ensure it's on top of everything */
    display: flex; /* Center content */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;

}

button{
    padding: 12px 20 px;
    margin: 10px;
    border: none;
    border-radius:  12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
#your-choice-text{
    display: none;
}

#baking-text{
    display: none;
}

.YouWin{
    display: none;
}

.YouLose{
    display:none;
}

.location-choice{
    display: none;
}

.baked-goods-choice{
    display: none;
}
